<mat-toolbar class="toolbar" style="margin-bottom:100px;padding:10px;">
  <form [formGroup]="formGroup">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      formControlName="search"
      placeholder="Search..."
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-select formControlName="column">
      <mat-option *ngFor="let opt of options" [value]="opt">
        {{opt}}
      </mat-option>
    </mat-select> 
    </mat-form-field>
  <mat-checkbox matInput
  formControlName="descending">descending</mat-checkbox>
  <br>
  <button mat-flat-button color="primary" (click)="loadData()">Search</button>
</form>
</mat-toolbar>

<mat-table class="mat-table" #table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let magazine">{{ magazine.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Magazine Name</mat-header-cell>
    <mat-cell *matCellDef="let magazine">{{ magazine.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef>address</mat-header-cell>
    <mat-cell *matCellDef="let magazine">{{ magazine.address }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit" *ngIf="canAddAndDel">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let magazine"
      ><a
        mat-stroked-button
        color="accent"
        routerLink="/magazines/edit/{{ magazine.id }}"
        >Edit</a
      ></mat-cell
    >
  </ng-container>

  <ng-container matColumnDef="info">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let magazine"
      ><a mat-stroked-button routerLink="/magazines/info/{{ magazine.id }}"
        >Info</a
      ></mat-cell
    >
  </ng-container>

  <ng-container matColumnDef="delete" *ngIf="canAddAndDel">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let magazine"
      ><button mat-flat-button color="warn"   (click)="handleDelete(magazine.id)">
        Delete
      </button></mat-cell
    >
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator
  [length]="100"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page"
  #paginator
></mat-paginator>
