<mat-grid-list cols="1" rowHeight="75px" (keyup.enter)="handleSubmit()">
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Product Name</mat-label>
      <input matInput [formControl]="name" />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>EAN</mat-label>
      <input matInput [formControl]="ean" />
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput [formControl]="price" />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button (click)="handleSubmit()">Submit</button>
  </mat-grid-tile>
</mat-grid-list>
