<mat-grid-list cols="1" rowHeight="75px" (keyup.enter)="handleSubmit()">
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>ProductId</mat-label>
      <input matInput [formControl]="productId" />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Magazine Id</mat-label>
      <input matInput [formControl]="magazineId" />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Position</mat-label>
      <input matInput [formControl]="position" />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Quantity</mat-label>
      <input matInput [formControl]="quantity" />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Tag</mat-label>
      <input matInput [formControl]="tag" />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button (click)="handleSubmit()">Submit</button>
  </mat-grid-tile>
</mat-grid-list>
