<mat-toolbar class="toolbar" style="margin-bottom:100px;padding:10px;">
  <form [formGroup]="formGroup">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      formControlName="search"
      placeholder="Search..."
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-select formControlName="column">
      <mat-option *ngFor="let opt of options" [value]="opt">
        {{opt}}
      </mat-option>
    </mat-select> 
    </mat-form-field>
  <mat-checkbox matInput
  formControlName="descending">descending</mat-checkbox>
  <br>
  <button mat-flat-button color="primary" (click)="loadData()">Search</button>
</form>
</mat-toolbar>

<mat-table class="mat-table" #table [dataSource]="dataSource">
  <ng-container matColumnDef="guid">
    <mat-header-cell *matHeaderCellDef>Guid</mat-header-cell>
    <mat-cell *matCellDef="let document">{{ document.id }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="magazineId">
    <mat-header-cell *matHeaderCellDef>Magazine Id</mat-header-cell>
    <mat-cell *matCellDef="let document">{{ document.magazineId }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let document">{{
      document.date | date : "medium"
    }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="client">
    <mat-header-cell *matHeaderCellDef>Client</mat-header-cell>
    <mat-cell *matCellDef="let document">{{ document.client }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="totalQuantity">
    <mat-header-cell *matHeaderCellDef>Total Quantity</mat-header-cell>
    <mat-cell *matCellDef="let document">{{ document.totalQuantity }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="realizeQuantity">
    <mat-header-cell *matHeaderCellDef>Quantity realize</mat-header-cell>
    <mat-cell *matCellDef="let document">{{ document.quantityDone }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="finished">
    <mat-header-cell *matHeaderCellDef>Finished</mat-header-cell>
    <mat-cell *matCellDef="let document">{{
      document.finished ? "yes" : "no"
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit" *ngIf="canAddAndDel">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let document">
      <button
        mat-flat-button
        color="primary"
        (click)="markAsFinished(document.id, !document.finished)"
      >
        {{ !document.finished ? "In progress" : "Finished" }}
      </button></mat-cell
    >
  </ng-container>

  <ng-container matColumnDef="info">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let document"
      ><a mat-stroked-button routerLink="info/{{ document.id }}"
        >Info</a
      ></mat-cell
    >
  </ng-container>

  <ng-container matColumnDef="delete" *ngIf="canAddAndDel">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let document"
      ><button mat-flat-button color="warn" (click)="handleDelete(document.id)">
        Delete
      </button></mat-cell
    >
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<div *ngIf="length === 0">No data</div>

<mat-paginator
  [length]="100"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page"
  #paginator
>
</mat-paginator>
